<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        <li class="item">
            <a class="link" href="https://scholar.google.com/citations?user=ixp-vqMAAAAJ">Research</a>
        </li>
        
        
        {% if site.talks == true %}
            {% if page.title != "Talks" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/talks">Talks</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.mentorship == true %}
            {% if page.title != "Mentorship" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/mentorship">Mentorship</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/papers-I-read/">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        <!-- {% if site.services == true %}
            {% if page.title != "Services" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/services/">Services</a>
                </li>
            {% endif %}
        {% endif %} -->

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
